@model IEnumerable< EmployeeViewModel>
@{
    ViewData["Title"] = "All Employee";
}

<center class="m-5"><h1>All Employee</h1></center>
    @*animation added in css file (.fade-out)*@
@if (TempData["EmpAdded"] != null)
{
    <div class="alert alert-success text-black fade-out">
        @TempData["EmpAdded"]
    </div>
}

@if(@Model.Count()>0)
{
    <form asp-action="Index">
        <div class="m-4">
            <input class="form-control d-inline w-75" type="text" name="SearchValue" />
            <input type="submit" value="Search" class="btn btn-light" asp-action="Index" />
        </div>
    </form>

 <table class ="table table-dark table-hover" >
        <thead> 
            <tr>
                <td>@Html.DisplayNameFor(e => e.Image)</td>
            <td>@Html.DisplayNameFor(e => e.Name)</td>
                <td>@Html.DisplayNameFor(e => e.Address)</td>
            <td>@Html.DisplayNameFor(e => e.Age)</td>
            <td>@Html.DisplayNameFor(e => e.Salary)</td>
                <td>@Html.DisplayNameFor(e => e.Department)</td>
            <td>@Html.DisplayNameFor(e => e.IsActive)</td>
            <td>@Html.DisplayNameFor(e => e.E_mail)</td>
            <td>@Html.DisplayNameFor(e => e.PhoneNumber)</td>
            <td>@Html.DisplayNameFor(e => e.HiringDate)</td>
            <td>Details</td>
            <td>Edit</td>
            <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>

                    <td>
                        @if (item.ImageName is not null)
                        {
                            <img src="~/Files/Images/@item.ImageName
                            " class="rounded " width="40" height="40" alt="employee image" />
                        }
                    </td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Age</td>
                <td>@Html.DisplayFor(e => item.Salary)</td>
                    <td>@Html.DisplayFor(e => item.Department.Name)</td>

                    <td>
                    @if(item.IsActive==true)
                    {
                            <i class="fa-solid fa-circle text-success"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle text-danger"></i>

                        }
                    </td>
                    <td>@Html.DisplayFor(e => item.E_mail)</td>
                <td>@item.PhoneNumber</td>
                <td>@item.HiringDate</td>

                <partial name="_BuutonsPartialView" model="@item.Id.ToString()"/>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <center class=" bg-warning "><h2>There isn't any employee</h2></center>
}

    <a asp-action="Create" asp-controller="Employee" class="btn btn-dark mt-4"> Add Employee <i class="fa-solid fa-plus"></i> </a>
