@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayOut.cshtml";
}
<div asp-validation-summary="All"></div>
<form asp-action="Login" id="signup-form" class="signup-form">
    <h2>Sign up </h2>
<div class="form-group">
    <input asp-for="@Model.Email" class="form-input" id="name" placeholder="Your Email" />
    <span asp-validation-for="@Model.Email"></span>
</div>
<div class="form-group">
    <input asp-for="@Model.Password" class="form-input" id="name" placeholder=" password like $%# 123 AaBb" />
    <span asp-validation-for="@Model.Password"></span>
</div>
    <div class="form-group">
        <input asp-for="@Model.RememberMe" type="checkbox" id="agree-term" class="agree-term" />
        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
    </div>
    <div class="form-group">
        <input type="submit" name="submit" id="submit" class="form-submit submit" value="Sign in" />
        <a asp-action="Register"  class="submit-link submit">Sign Up</a>
        <p>If you Forget your Password ? <a asp-action="ForgetPassword" class=" text-decoration-none"> Click Here</a></p>
    </div>
</form>
@section ClientValidation
{
    <partial name="_ValidationScriptsPartial" />
}